
/* .container{
    font-weight: bold;
    color:#15a3c7;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
} */

.contacts-inline{
    text-align: center;
    cursor: pointer;
    font-size: 7em;
    transition: text-shadow 1s;
}

.contact-name{
    padding: 10px;
    /* margin-left: 10px; */
}

.contac-email{
    padding: 10px;
    /* margin-left: 10px; */
}

.contact-msg{
    padding: 10px;
}

.contact-email{
    margin: 0px auto 15px;
    padding: 20px 12px;
    max-width: 1048px;
}

.form-contact{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 60px;
    border: 1px solid rgb(236, 236, 236);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 8px;
    border-radius: 4px;
}

.contact-button{
    text-align: end;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}

.label-msg{
    padding: 10px;
}

.msg{
    /* margin-left: 120px;
    margin-top: -30px; */
    width: 627px; 
    height: 257px;
    padding: 10px;
    border-radius: 10px;
}

.mail{
    padding: 5px;
    /* margin-left: 50px; */
}

.name_to{
    padding: 5px;
    /* margin-left: 50px; */
}

.texte_input{
    margin-left: 15%;
}