@media(max-width: 1000px){
    .container{
        font-size: 15px;
    }
    .experiencias{
        /* margin: -8px; */
    }
    .container-experience {
        margin-left: 32px;
        margin-right: 25px;
    }
    header{
        height: 5vh;
    }
}

@media (min-width: 1200px) {

    .container-experience {
        margin: 0px auto 15px;
        max-width: 1048px;
    }
    header{
        height: 10vh;
    }
}

.menu{
    position: fixed;
}

.function-job{
    font-weight: bold;
    padding: 10px;
    list-style-type: none;
}

.container-experience{
    /* margin-left: 100px;
    margin-right: 100px; */
}

.name-experience{
    padding: 10px;
    color: #15a3c7;
    font-weight: bold;
    font-size: 20px;
}

.lista-experiencias {
    color: #696969;
    margin-bottom: 1.4em;
    text-indent: 1.4em;
    text-align: justify;
}

.experiencias a {
    color:#15a3c7;
    font-family: 'Montserrat', sans-serif;
}

.experiencias p {
    padding: 10px;
    color:#15a3c7;
    font-weight: bold;
}

.rodape{
    position: relative;
}