@media(max-width: 1000px){

    header{
        height: 10vh;
    }

    .skills-container{
        font-size: 16px;
    }

    .competencias{
        /* align-items: center; */
        color: #15a3c7;
        font-size: 4.8em;
        justify-content: space-around;
        transition: transform 500ms;
        padding: 38px;
    }
}

@media (min-width: 1200px) {

    header{
        height: 20vh;
    }

    .competencias{
        align-items: center;
        color:#15a3c7;
        font-size: 6.3em;
        display: flex;
        justify-content: space-around;
        transition: transform 500ms;
    }

}

.menu{
    position: fixed;
}

.competencias p {
    font-size: 0.25em;
    text-align: center;
    margin-top: 20px;
    color:#15a3c7;
    font-family: 'Montserrat', sans-serif;
  }
  
.competencias .fab:hover,
.competencias .fas:hover  {
transform: scale(1.2);
}

h2{
    color:#15a3c7;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    font-weight: bols;
    text-align: center;
}

.rodape{
    position: fixed;
}