* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 1000px){
    .menu a{
        padding: 10px 6px;
        font-size: 10px;
    }

    .name_my{
        margin-left: 20px;
    }

    .name{
        margin: 130px auto;
        padding: 36px;
    }

    @keyframes typing {
        from{
            width: 0;
        }
        to{
            width: 27em;
        }
    }
    
    @keyframes blinkcursor {
        from{
            border-right-color: rgb(146 146 146 / 28%);
        }
        to{
            border-right-color: transparent;
        }
    }
}

@media (min-width: 400px) {
    body {
    font-size: 14px;
    }
}
  
/* breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}
  
/* breakpoint */
@media (min-width: 1200px) {

    header{
        height: 20vh;
    }

    .menu a{
        padding: 20px 20px;
    }

    .name{
        margin: 50px auto;
        padding: 70px;
    }

    body {
        font-size: 20px;
    }
    .name_my{
        margin-left: 100px;
    }
    .nameto{
        font-size: 4.4em;
    }
    
    @keyframes typing {
        from{
            width: 0;
        }
        to{
            width: 57em;
        }
    }
    
    @keyframes blinkcursor {
        from{
            border-right-color: rgb(146 146 146 / 28%);
        }
        to{
            border-right-color: transparent;
        }
    }
}


body {
    background-color:#E0FFFF;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.container{
    font-size: 20px;
}

.menu{
    background-color:	#fffafa;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    /* padding: 20px 20px; */
    transition: background-color 0.8s, color 0.08s;
}

a {
    text-decoration: none;
    color:#15a3c7;
}

.name{
    /* max-width: 1048px; */
    align-items: center;
    justify-content: center;
}

.adjusted_name{

}

/* efeito digitando */
.name_my{
    border-right: 2px solid rgb(146 146 146 / 28%);
    animation: blinkcursor 500ms steps(35) infinite normal, 
    typing 4s steps(35) 1s normal both;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.function{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.nameto{
    padding: 10px;
    color:#15a3c7;
    font-family: 'Special Elite', cursive;
}

.function{
    line-height: 1.8em;
    color:#15a3c7;
}

.rodape {
    background:	#15a3c7;
    background-size: 100vh;
    padding: 10px;
    position:absolute;
    bottom:0;
    width:100%;
}

.rodape p {
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    text-decoration: none;
}

.picture-lucas{
    width: 200px;
    float: right;
    margin-top: -150px;
    border-radius: 10px;
    margin-left: 2em;
}

/* screen-prompt */
.tela-prompt{
    margin: 0px auto 15px;
    max-width: 1038px;
    /* border: 2px solid #050505; */
}

.contacts-inline{
    margin-top: -75px;
    text-align: center;
    cursor: pointer;
    font-size: 7em;
    transition: text-shadow 1s;
}